.watermark{
	background-image: url('../images/watermark3.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	 
}

.overview-data{

	padding-top: 2%;
	padding-bottom: 2%;

}

.price-plate{
padding-top: 2%;
}

.check-ava{
	padding-top: 3%;
}

.change{
	padding-top: 3%;
}
 .timing{
 	padding-top: 3%;
 }

 .usp{
 	padding-top: 3%;
 }