.container a{
  font-size: 30px;
  font-style: bold;
  }

.collapse a{
    font-size: 30px;
    font-style: bold;
  }

 .bgimg{

    background-image: url('../images/image13.jpg');
    background-attachment: fixed; 
    float: center;    
  }
.ml2 {
  font-weight: 900;
  font-size: 3.5em;
}

#sectionourservices{
    height: 5%;
}

#sectionabout{
    height: 2%;
}

#sectionaboutus{
  height: 2%;
}

/*.....text Javascript....*/


  .carousel h2{
   font-family: 'Anton', sans-serif;
    font-size: 30px;

  }

  .carousel{
    padding: 5px 0px 5px;
  }

  .carousel-caption{
    font-size: 20px;
  }

  
.map-container-6{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-6 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

 .headerset{
    padding-top: 250px;
    box-sizing: border-box; 
 }

 .headerset p{
    font-size: 42px;
    color: white;
 }
 .headerset h2{
    font-size: 72px;
    color: white;
    font-weight: bold;
    
 }

 .ourservices{
    padding: 60px 0px 5px;
    height: 700px;
 }

 .rowsetting{
    margin: 80px 0px !important;
 }

 .imgsetting{
    border-radius: 50%;
    height: 100px;
    width: 100px;   
 }

 .fa-utensils{
    margin-top: 20px;
 }

 .fa-ring{
    margin-top: 24px;
 }

 .fa-hotel{
    margin-top: 25px;
 }

 .rowsetting h2{
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
 }

 .rowsetting p{
    padding: 10px;
    color: #6c757d!important;
 }

 .events{
    height: 1000px;
    width: 100%;
    padding: 5px 0px 1px;
 }

 .events h1{
    font-size: 50px;
    font-weight: bold;
 }

 .card{
   margin-top: 30px;
 }

 .aboutus p{
    font-size: 20px;
 }

#sectionaboutus{
    height: 550px;
    width: 100%;
    padding: 5px 0px 5px;
 }


 .aboutus h1{
    font-size: 50px;
    font-weight: bold;
}

.imgsetting:hover{
    color: #900d0d;
}

 .footer{
    height: 50px;
 }
 .footer h6{
    line-height: 50px;
 }

 @media(max-width: 479px){

     .headerset h2{
    font-size: 22px;
    color: white;
    font-weight: bold;
    
 }
     .headerset p{
    font-size: 42px;
    color: white;
 }


 .ourservices{
    
    height: 1000px;
 }

}

.ourservices hr{
    border-width: 10px;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    width: 30%;

}

.Events hr{
     border-width: 10px;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    width: 30%;

}

.aboutus hr{
 border-width: 10px;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    width: 30%;
}

.social-icon{
                margin: 8px 10px;
}

/*///////Media Queries////////////////


/* big landscape tablets , laptops and desktops*/
@media (min-width: 1024px){
    .bgimg{
        background-repeat:no-repeat;
         background-size: 100% 100%;
       
    }


/* tablet,landscape,low resolution,laptop and desktop */
@media (min-width: 1024px) and (max-width: 1440px){
    .carousel-item img{
        
     height: auto;
        display: block;
    }

.carousel-item h5{
    text-align: center;

}

  }
/* smartphones , android phones , landscape iphone */
@media all and (min-width:991px) {  
 }
/* smartphones , potrait iphone , potrait 480x320 phones(Android) */
@media (min-width: 375px) and (max-width: 850px){

    .ourservices hr{
        border-style: dotted;
        width: 30%;
    }

    .Events hr{
        width: 30%;   
        border-style: dotted;
       }  

 .fa-hotel{
    margin-top: 30px;
 }
.Events{
    padding: 200px 0px 100px;
}
 
 h5,p{
    text-align: center;
    font-size: 50px;

}
}